---
import { cn } from "@/lib/utils";
import { LogoImageSite } from '../logo-image-site';

type Props = {
  className?: string;
};

const { className } = Astro.props;

---

<header
  class={cn(
    "flex items-center h-16 md:h-18 z-50 sticky top-0 bg-background",
    className
  )}
>
  <div class="relative container flex items-center justify-between w-full">
    <div class="flex items-center gap-6 md:gap-8 lg:gap-10">
      <a href="https://ext-ethereal-nexus.playground.rg03.diconium.cloud" aria-label="Ethereal Nexus homepage" class="hidden items-center space-x-2 md:flex">
        <span class="hidden font-bold sm:inline-block">
         <LogoImageSite client:load/>
        </span>
      </a>

      <slot name="mobile-nav-header" />

      <div class="hidden md:flex">
        <slot name="left-header" />
      </div>
    </div>

    <!-- logo mobile center -->
    <div
      class=" md:hidden h-full"
    >
      <a href="https://ext-ethereal-nexus.playground.rg03.diconium.cloud" aria-label="Ethereal Nexus homepage">
        <LogoImageSite client:load/>
      </a>
    </div>

    <slot name="right-header" />
  </div>
</header>
<script>

</script>
