---
import { buttonVariants } from "@/components/ui/button";
import { siteConfig } from "@/config/site";
import MainLayout from "@/layouts/main-layout.astro";
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";
import { SvgIcon } from '../components/icon';
---

<MainLayout title="Etheral Nexus">
	<section class="space-y-6 pb-12 pt-16 lg:py-28">
		<div
			class="container flex max-w-[64rem] flex-col items-center gap-5 text-center"
		>

			<h1
				class="font-heading text-4xl font-bold sm:text-5xl md:text-6xl lg:text-7xl !leading-[1.1] text-balance"
			>
				{siteConfig.title}
			</h1>

			<p
				class="max-w-[42rem] leading-normal text-muted-foreground sm:text-xl sm:leading-8 text-balance"
			>
				{siteConfig.description}
			</p>

			<div class="flex justify-center space-x-2 md:space-x-4">
				<a
					href="/docs/introduction/"
					class={cn(buttonVariants({ size: "lg"}))}
				>
					Get Started
				</a>
				<a
					href={siteConfig.links.github}
					target="_blank"
					rel="noreferrer"
					class={cn(buttonVariants({ variant: "outline", size: "lg" }), "px-4")}
				>
					<Icon name="github" class="mr-2 size-5" />
					Github
				</a>
			</div>
		</div>
	</section>

	<section
		id="features"
		class="container space-y-6 bg-accent py-8 dark:bg-transparent md:py-12 lg:py-24"
	>
		<div
			class="mx-auto flex max-w-[58rem] flex-col items-center space-y-4 text-center"
		>
			<h2 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl">
				Features
			</h2>
			<p
				class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7 balance-text"
			>
				Unlock the power of your component library by seamlessly publishing it to the Ethereal Nexus dashboard.
				Effortlessly set up connectors to your applications and activate the components, empowering your team to immediately leverage their full potential in every project.
			</p>
		</div>
		<div
			class="mx-auto grid justify-center gap-4 sm:grid-cols-2 md:max-w-[64rem] md:grid-cols-3"
		>
			<div class="relative overflow-hidden rounded-lg border bg-background p-2">
				<div class="flex h-[250px] flex-col justify-center items-center rounded-md p-5">
					<SvgIcon name='component' className="size-10 mb-5" client:load/>

					<div class="space-y-2">
						<h3 class="font-bold">Component Library Management</h3>
						<p class="text-sm text-muted-foreground">
							Easily organize and maintain your component library with intuitive tools for categorization, version control, and access control.
						</p>
					</div>
				</div>
			</div>
			<div class="relative overflow-hidden rounded-lg border bg-background p-2">
				<div class="flex h-[250px] flex-col justify-center items-center rounded-md p-5">
					<SvgIcon name='deploy' className="size-10 mb-5" client:load/>
					<div class="space-y-2">
						<h3 class="font-bold">Seamless Deployment</h3>
						<p class="text-sm text-muted-foreground">
							Quickly deploy web components to multiple applications, CMS, and CRMs with a simple and efficient process.
						</p>
					</div>
				</div>
			</div>
			<div class="relative overflow-hidden rounded-lg border bg-background p-2">
				<div class="flex h-[250px] flex-col justify-center items-center rounded-md p-5">
					<SvgIcon name='version' className="size-10 mb-5" client:load/>
					<div class="space-y-2">
						<h3 class="font-bold">Version Control</h3>
						<p class="text-sm text-muted-foreground">
							Keep track of component versions, rollback changes when needed, and ensure consistency across all applications.
						</p>
					</div>
				</div>
			</div>
			<div class="relative overflow-hidden rounded-lg border bg-background p-2">
				<div class="flex h-[250px] flex-col justify-center items-center rounded-md p-5">
					<SvgIcon name='crossPlatform' className="size-10 mb-5" client:load/>
					<div class="space-y-2">
						<h3 class="font-bold">Cross-Platform Compatibility</h3>
						<p class="text-sm text-muted-foreground mt-3">
							Ensure that your web components work seamlessly across various infrastructures, frameworks, and web applications.
						</p>
					</div>
				</div>
			</div>
			<div class="relative overflow-hidden rounded-lg border bg-background p-2">
				<div class="flex h-[250px] flex-col justify-center items-center rounded-md p-5">
					<SvgIcon name='realTime' className="size-10 mb-5" client:load/>
					<div class="space-y-2">
						<h3 class="font-bold">Real-Time Updates</h3>
						<p class="text-sm text-muted-foreground">
							Instantly update components across all applications with real-time synchronization for quick and efficient changes.
						</p>
					</div>
				</div>
			</div>
			<div class="relative overflow-hidden rounded-lg border bg-background p-2">
				<div class="flex h-[250px] flex-col justify-center items-center rounded-md p-5">
					<SvgIcon name='collaboration' className="size-10 mb-5" client:load/>
					<div class="space-y-2">
						<h3 class="font-bold">Collaboration and Sharing</h3>
						<p class="text-sm text-muted-foreground">
							Collaborate with team members, share components, and promote reuse with built-in collaboration features.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="open-source" class="container py-8 md:py-12 lg:py-28">
		<div
			class="mx-auto flex max-w-[58rem] flex-col items-center justify-center gap-4 text-center"
		>
			<h2 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl">
				Proudly Open Source
			</h2>
			<p
				class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7"
			>
				Ethereal Nexus is open source and powered by open source software. <br />{
				" "
			}
				The code is available on{" "}
				<a
					href={siteConfig.links.github}
					target="_blank"
					rel="noreferrer"
					class="underline underline-offset-4"
				>
					GitHub
				</a>
				.
			</p>
		</div>
	</section>
</MainLayout>