

# OpenTelemetry Configuration
# Service name for telemetry identification
OTEL_PUBLIC_SERVICE_NAME=ethereal-nexus-dashboard-frontend

# If empty azure will be used
# for google cloud set "gcloud"
STORAGE_TYPE=

# Google cloud configuration

GCLOUD_BLOB_STORAGE_ID=
GCLOUD_BLOB_STORAGE_KEY_FILE=
GCLOUD_BLOB_STORAGE_NAME=
GCLOUD_CDN_URL=

# You must first activate a Billing Account here: https://platform.openai.com/account/billing/overview
# Then get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=_key_

# [OPTIONAL] Database cache strategy: "redis" or "in-memory" or "none". Default will be "none" if no IN_MEMORY_CACHE_TTL is set
DB_CACHE_STRATEGY=redis

# Time in seconds to keep items in in-memory cache in seconds
IN_MEMORY_CACHE_TTL=60

# Redis cache configuration
# Redis password, if any
REDIS_PASSWORD=
# Hostname only, without "redis://" prefix
REDIS_HOST=
# [OPTIONAL] Port number, by default 6380
REDIS_PORT=
# [OPTIONAL] TLS enabled by default, set to 'false' for local development
REDIS_USE_TLS=false
# [OPTIONAL] Cache strategy for redis: "all" or "explicit". By default "explicit"
REDIS_CACHE_STRATEGY=all
# [OPTIONAL] TTL in seconds for redis cache entries. Default one month.
REDIS_CACHE_TTL=
