

# If empty azure will be used
# for google cloud set "gcloud"
STORAGE_TYPE=

# Google cloud configuration

GCLOUD_BLOB_STORAGE_ID=
GCLOUD_BLOB_STORAGE_KEY_FILE=
GCLOUD_BLOB_STORAGE_NAME=
GCLOUD_CDN_URL=