

# If empty azure will be used
# for google cloud set "gcloud"
STORAGE_TYPE=

# Google cloud configuration

GCLOUD_BLOB_STORAGE_ID=
GCLOUD_BLOB_STORAGE_KEY_FILE=
GCLOUD_BLOB_STORAGE_NAME=
GCLOUD_CDN_URL=

# You must first activate a Billing Account here: https://platform.openai.com/account/billing/overview
# Then get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=_key_

# Time in seconds to keep items in in-memory cache in seconds
IN_MEMORY_CACHE_TTL=60