name: Trigger auto deployment for demo-ethereal-nexus

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '/ethereal-nexus-dashboard/**'
    - '.github/workflows/demo-ethereal-nexus-AutoDeployTrigger-b5b2e196-b8c8-4d42-8528-b07617ea6295.yml'

  # Allow manual trigger 
  workflow_dispatch:
      
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.DEMOETHEREALNEXUS_AZURE_CREDENTIALS }}
          
      - name: Log in to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: docker19diconium/remote-components
          
      - name: 'Create env file'
        run: |
          echo "${{ secrets.MONGODB_URI }}" >> ./ethereal-nexus-dashboard/.env
          echo "${{ secrets.AZURE_BLOB_STORAGE_ACCOUNT }}" >> ./ethereal-nexus-dashboard/.env
          echo "${{ secrets.AZURE_BLOB_STORAGE_SECRET }}" >> ./ethereal-nexus-dashboard/.env
          echo "${{ secrets.PGHOST }}" >> ./ethereal-nexus-dashboard/.env
          echo "${{ secrets.PGUSER }}" >> ./ethereal-nexus-dashboard/.env
          echo "${{ secrets.PGPORT }}" >> ./ethereal-nexus-dashboard/.env
          echo "${{ secrets.PGPASSWORD }}" >> ./ethereal-nexus-dashboard/.env
          echo "PGSSL=true" >> ./ethereal-nexus-dashboard/.env
          echo "${{ secrets.NEXT_AUTH_SECRET }}" >> ./ethereal-nexus-dashboard/.env
          
      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}/ethereal-nexus-dashboard
          containerAppName: demo-ethereal-nexus
          resourceGroup: RG-Ethereal-nexus
          registryUrl: registry.hub.docker.com
          registryUsername: ${{ secrets.DOCKER_USERNAME }}
          registryPassword: ${{ secrets.DOCKER_PASSWORD }}
          imageToBuild: docker19diconium/remote-components:${{ github.sha }}
          
            

     

