name: Release

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read
  
concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    environment: playground
    steps:
      - name: Checkout Repo
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Install Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 24
          cache: "pnpm"

      - name: Install Dependencies
        run: pnpm i --frozen-lockfile

      - name: 'Create env file'
        run: |
          echo "${{ secrets.NEXT_AUTH_SECRET }}" >> ./web/dashboard/.env
          echo "${{ secrets.DRIZZLE_DATABASE_URL }}" >> ./web/dashboard/.env

      - name: Build Packages
        run: pnpm run build

      - name: Publish to npm
        id: changesets
        uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba # v1.5.3
        with:
          publish: pnpm exec changeset publish
          commit: "chore: release version"
          title: "[ci] Release version"
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
